In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
my_data=pd.read_csv("healthcare-dataset-stroke-data.csv")
my_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

<h1> Check missing values

In [4]:
my_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
my_data.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [6]:
avg_bmi=my_data['bmi'].astype('float').median(axis=0)
avg_bmi

28.1

In [7]:
my_data['bmi'].replace(np.nan,avg_bmi,inplace=True)
my_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.1,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
my_data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

<h1> Dealing with categorical inputs

In [9]:
my_data['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [10]:
pos=my_data.loc[my_data['gender']=='Other']
pos

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3116,56156,Other,26.0,0,0,No,Private,Rural,143.33,22.4,formerly smoked,0

In [11]:
data_copy=my_data.copy()
data_copy.drop(3116,axis=0,inplace=True)
data_copy.reset_index(drop=True,inplace=True)

In [12]:
data_copy['gender'].value_counts()

Female    2994
Male      2115
Name: gender, dtype: int64

In [13]:
data_copy.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [14]:
features=data_copy.iloc[:,1:-1]
features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
...,...,...,...,...,...,...,...,...,...,...
5104,Female,80.0,1,0,Yes,Private,Urban,83.75,28.1,never smoked
5105,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked
5106,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked
5107,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked
5108,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown

In [15]:
predictions=data_copy.iloc[:,-1]
predictions

0       1
1       1
2       1
3       1
4       1
       ..
5104    0
5105    0
5106    0
5107    0
5108    0
Name: stroke, Length: 5109, dtype: int64

In [16]:
data_copy['Residence_type'].value_counts()

Urban    2596
Rural    2513
Name: Residence_type, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
features['gender']=lc.fit_transform(features['gender'])

lc1=LabelEncoder()
features['ever_married']=lc1.fit_transform(features['ever_married'])

lc2=LabelEncoder()
features['Residence_type']=lc2.fit_transform(features['Residence_type'])

In [18]:
features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked
1,0,61.0,0,0,1,Self-employed,0,202.21,28.1,never smoked
2,1,80.0,0,1,1,Private,0,105.92,32.5,never smoked
3,0,49.0,0,0,1,Private,1,171.23,34.4,smokes
4,0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked
...,...,...,...,...,...,...,...,...,...,...
5104,0,80.0,1,0,1,Private,1,83.75,28.1,never smoked
5105,0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked
5106,0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked
5107,1,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked
5108,0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[5,9])],remainder='passthrough')
features=ct.fit_transform(features)

In [20]:
features

array([[  0.  ,   0.  ,   1.  , ...,   1.  , 228.69,  36.6 ],
       [  0.  ,   0.  ,   0.  , ...,   0.  , 202.21,  28.1 ],
       [  0.  ,   0.  ,   1.  , ...,   0.  , 105.92,  32.5 ],
       ...,
       [  0.  ,   0.  ,   0.  , ...,   0.  ,  82.99,  30.6 ],
       [  0.  ,   0.  ,   1.  , ...,   0.  , 166.29,  25.6 ],
       [  1.  ,   0.  ,   0.  , ...,   1.  ,  85.28,  26.2 ]])

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
features=sc.fit_transform(features)

In [22]:
features

array([[-0.38415378, -0.06576283,  0.86444434, ...,  0.983884  ,
         2.70644995,  1.00489263],
       [-0.38415378, -0.06576283, -1.15681248, ..., -1.01637997,
         2.12165168, -0.09914235],
       [-0.38415378, -0.06576283,  0.86444434, ..., -1.01637997,
        -0.00486741,  0.47235811],
       ...,
       [-0.38415378, -0.06576283, -1.15681248, ..., -1.01637997,
        -0.51126562,  0.22557382],
       [-0.38415378, -0.06576283,  0.86444434, ..., -1.01637997,
         1.32837547, -0.42385852],
       [ 2.60312422, -0.06576283, -1.15681248, ...,  0.983884  ,
        -0.46069205, -0.34592664]])

In [23]:
features.shape

(5109, 17)

In [24]:
predictions=predictions.values
predictions

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,predictions,test_size=0.2,random_state=45,shuffle=True)

In [69]:
from sklearn.ensemble import RandomForestClassifier
rc=RandomForestClassifier(criterion='entropy',n_estimators=100,class_weight='balanced',max_depth=9,random_state=45,ccp_alpha=0.001)
rc.fit(X_train,y_train)
y_pred_train=rc.predict(X_train)
y_pred=rc.predict(X_test)

In [70]:
from sklearn.metrics import accuracy_score
print("Training Data")
print('Accuracy of Training data',accuracy_score(y_train,y_pred_train))
print("Testing Data")
print('Accuracy of Testing Data ',accuracy_score(y_test,y_pred))

Training Data
Accuracy of Training data 0.924639099584047
Testing Data
Accuracy of Testing Data  0.8806262230919765

In [60]:
from tkinter import *
from tkinter import messagebox
win = Tk()
win.geometry('600x600')
win.title('STROKE PREDICTION ')
win.configure(bg='lightskyblue')
l1 = Label(win , text='MACHINE LEARNING PROJECT-: STROKE PREDICTION',width=40 , padx=3)
l1.place(x=550,y=30)
l4 = Label(win , text='ENTER YOUR DETAILS BELOW' , padx=3)
l4.place(x=605,y=80)
l3 = Label(win , text='GENDER' , padx=5,bg='red',fg='yellow',font=4)
l3.place(x=140,y=180)

l5 = Label(win , text='AGE' , padx=5,bg='red',fg='yellow',font=4)
l5.place(x=390,y=180)

l7 = Label(win , text='HYPERTENSION' , padx=3,bg='red',fg='yellow',font=4)
l7.place(x=640,y=180)
l8 = Label(win , text='HEART-DISEASE' , padx=3,bg='red',fg='yellow',font=4)
l8.place(x=890,y=180)
l9 = Label(win , text='EVER-MARRIED' , padx=3,bg='red',fg='yellow',font=4)
l9.place(x=1140,y=180)
l10 = Label(win , text='WORK-TYPE' , padx=3,bg='red',fg='yellow',font=4)
l10.place(x=130,y=300)
l11 = Label(win , text='RESIDENCE-TYPE' , padx=3,bg='red',fg='yellow',font=4)
l11.place(x=360,y=300)
l12 = Label(win , text='AVG-GULCOSE-LEVEL' , padx=3,bg='red',fg='yellow',font=4)
l12.place(x=617,y=300)
l13 = Label(win , text='BMI' , padx=3,bg='red',fg='yellow',font=4)
l13.place(x=930,y=300)
l14 = Label(win , text='SMOKING-STATUS' , padx=3,bg='red',fg='yellow',font=4)
l14.place(x=1140,y=300)

#my_dic={"CreditScore":[int(e1.get())],"Geography":[e2.get()],"Gender":[e3.get()],"Age":[int(e4.get())],"Tenure":[int(e5.get())],"Balance":[float(e6.get())],"NumOfProducts":[int(e7.get())],"HasCrCard":[int(e8.get())],"IsActiveMember":[int(e9.get())],"EstimatedSalary":[float(e10.get())]}
def temp_text(e):
    e1.delete(0,END)
def temp_text1(e):
    e2.delete(0,END)
def temp_text2(e):
    e4.delete(0,END)
def temp_text3(e):
    e5.delete(0,END)
def temp_text4(e):
    e6.delete(0,END)
def temp_text5(e):
    e7.delete(0,END)
def temp_text6(e):
    e8.delete(0,END)
def temp_text7(e):
    e9.delete(0,END)
def temp_text8(e):
    e10.delete(0,END)
def temp_text9(e):
    e11.delete(0,END)
    
    

e1 = Entry(win , width=26,borderwidth=2)
e1.place(x=100,y=210)
e1.insert(0,'Enter Male or Female')

e2 = Entry(win , width=22)
e2.place(x=350,y=210)
e2.insert(0,'Enter your age')

e4 = Entry(win , width=26)
e4.place(x=630,y=210)
e4.insert(0,'Enter 0 or 1')


e5 = Entry(win , width=26)
e5.place(x=880,y=210)
e5.insert(0,'Enter 0 or 1')


e6 = Entry(win , width=26)
e6.place(x=1125,y=210)
e6.insert(0,'Enter Yes or No')


e7 = Entry(win , width=30)
e7.place(x=100,y=350)
e7.insert(0,'ENTER Govt_job or Never_worked or Private or children or Self-employed')


e8 = Entry(win , width=26)
e8.place(x=350,y=350)
e8.insert(0,'Urban or Rural')

e9 = Entry(win , width=26)
e9.place(x=640,y=350)
e9.insert(0,'Enter average glucose level')

e10 = Entry(win , width=26)
e10.place(x=880,y=350)
e10.insert(0,'Enter bmi value')

e11 = Entry(win , width=30)
e11.place(x=1140,y=350)
e11.insert(0,'ENTER Unknown or formerly smoked or never smoked or smokes')

e1.bind('<FocusIn>',temp_text)
e2.bind('<FocusIn>',temp_text1)
e4.bind('<FocusIn>',temp_text2)
e5.bind('<FocusIn>',temp_text3)
e6.bind('<FocusIn>',temp_text4)

e8.bind('<FocusIn>',temp_text6)
e9.bind('<FocusIn>',temp_text7)
e10.bind('<FocusIn>',temp_text8)

def fxn():
    my_dic={"gender":[e1.get()],"age":[float(e2.get())],"hypertension":[int(e4.get())],"heart_disease":[int(e5.get())],"ever_married":[e6.get()],"work_type":[e7.get()],"Residence_type":[e8.get()],"avg_glucose_level":[float(e9.get())],"bmi":[float(e10.get())],"smoking_status":[e11.get()]}
    my_dic=pd.DataFrame(my_dic)
    my_dic["gender"]=lc.transform(my_dic["gender"])
    my_dic["ever_married"]=lc1.transform(my_dic["ever_married"])
    my_dic["Residence_type"]=lc2.transform(my_dic["Residence_type"])
    print(my_dic)
    my_dic=ct.transform(my_dic)
    my_dic=sc.transform(my_dic)
    y_pred=rc.predict(my_dic)
    
    if(y_pred==1):
      
        lis.insert(0,"Person will have the stroke")
    else:
        lis.insert(0,"Person Will not have the stroke")
def fx2():
    e1.delete(0,END)
    e2.delete(0,END)
    e4.delete(0,END)
    e5.delete(0,END)
    e6.delete(0,END)
    e7.delete(0,END)
    e8.delete(0,END)
    e9.delete(0,END)
    e10.delete(0,END)
    e11.delete(0,END)
    lis.delete(0,END)


b2=Button(win,text='outcome',command=fxn)
b2.place(x=550,y=510)

b4=Button(win,text='Clear',command=fx2)
b4.place(x=700,y=510)
lis = Listbox(win,width=50)
lis.place(x=550,y=600)
win.mainloop()

   gender   age  hypertension  heart_disease  ever_married work_type  \
0       0  61.0             0              1             1  Govt_job

   Residence_type  avg_glucose_level   bmi smoking_status
0               0             120.45  36.7         smokes
   gender   age  hypertension  heart_disease  ever_married work_type  \
0       0  61.0             0              1             1  Govt_job

   Residence_type  avg_glucose_level   bmi smoking_status
0               0              120.4  36.7         smokes